*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #333;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.item1 {
    background: rgb(24, 14, 20);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    opacity: .5;
    padding: 20px;
}

.item2 {
    background: rgb(255, 106, 106);
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    z-index: 100;
    width: 50%;
    height: 50%;
    padding: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}